.App {
  text-align: center;
}
span{
      /* animation-fill-mode: backwards; */
      display: inline-block;
      /* background-color: aquamarine; */
      background: antiquewhite;
      padding: 10px;
      margin: 5px;
  
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.list-wrapper{
      /* border: gainsboro; */
      border: 1px solid #ccc;
      margin: auto;
      width: 500px;
 }
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-row{
  background-color: aliceblue;
    max-width: 100px;
    padding: 3px;
    margin: auto;
    margin-top: 8px;
    
}